<!DOCTYPE HTML>
<html ng-app="RescueRangersApp">
<head>
	<title>Control Panel - Rescue Rangers</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body ng-controller="ControlPanelCtrl">
	<div id="title" class="col-xs-12 col-md-12 box" >
		<h1>Rescue Rangers Control Panel</h1>
	</div>
	<h2>Required Information</h2>
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-6">
			<label>Incident Name</label>
			<input type="text" class="form-control" ng-model="incident.IncidentName">
		</div>
		<div class="col-xs-6">
			<label>Incident Description</label>
			<input type="text" class="form-control" ng-model="incident.IncidentDesc">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 fill">
			<!-- Incident Type -->
			<div id="IncidentType">
				<label>Incident Type:</label><br>
				<select ng-model="incident.IncidentType">
				  <option ng-repeat="(key, value) in IncidentTypes" value="{{key}}">{{value}}</option>
				</select>
			</div>

			<!-- Kit Type -->
			<div id="KitName" >
				<label>Kit Name:</label><br>
				<select ng-model="incident.KitName">
				 <option ng-repeat="KitName in KitNames" value="{{KitName}}">{{KitName}}</option>
				</select>
			</div>

			<!-- Severity Type -->
			<div id="SeverityName" class="inputForm">
				<label>Severity Name:</label><br>
				<select ng-model="incident.SeverityName">
				<option ng-repeat="SeverityName in SeverityNames" value="{{SeverityName}}">{{SeverityName}}</option>
				</select>
			</div>
		</div>


		<!-- Location -->
		<div id="Location" class="col-sm-6 col-md-4 fill">
			<label>Location Name:</label><br>
			<input type="text" ng-model="incident.LocationName"><br>
			<label>Latitude: </label><br>
			<input type="text" ng-model="incident.Latitude"><br>
			<label>Longitude:</label><br>
			<input type="text" ng-model="incident.Longitude"><br>
		</div>


		<!-- Person Name and Person -->
		<div id="Person" class="col-sm-12 col-md-4 fill">
			<div>
				<label>First Name:</label><br>
				<input type="text" ng-model="incident.PersonFirstName"><br>
				<label>Last Name:</label><br>
				<input type="text" ng-model="incident.PersonLastName"><br>
			</div>
			<!-- Injury Type -->

			<div>
				<label>Injury Name:</label><br>
				<input type="text" ng-model="incident.InjuryName"><br>
				<label>Injury Description:</label><br>
				<input type="text" ng-model="incident.InjuryDesc"><br>
				
			</div>
			<div id="InjuryType" class="inputForm">
				<label>Injury Type:</label><br>
				<select ng-model="incident.InjuryType">
				  <option ng-repeat="InjuryType in InjuryTypes" value="{{InjuryType}}">{{InjuryType}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 box"

	<h1>Optional Information</h1>
	</div>
	<div id="optionalInformation" class="col-md-12 col-sm-12" >
		<!-- Address -->
		<div id="Address">
			<label>City</label><br><input type="text" ng-model="incident.City"><br>
			<label>State</label><br><input type="text" ng-model="incident.State"><br>
			<label>Country</label><br><input type="text" ng-model="incident.Country"><br>
		</div>

	</div>
	<div class="col-md-12 col-sm-12">
	<a class="center" ng-click="submitForm()" id="submitButton"><i class="fa fa-paper-plane"></i>Submit Form</a>
	</div>
</body>
</html>