<!DOCTYPE HTML>
<html ng-app="RescueRangersApp">
<head>
	<title>Control Panel - Rescue Rangers</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body ng-controller="ControlPanelCtrl">
	<div id="title">
		<h1>Rescue Rangers Control Panel</h1>
	</div>
	<h2>Required Information</h2>
	<div class="col-xs-12">
		<div class="col-xs-6">
			<label>Incident Name</label>
			<input type="text" class="form-control" ng-model="incident.IncidentName">
		</div>
		<div class="col-xs-6">
			<label>Incident Description</label>
			<input type="text" class="form-control" ng-model="incident.IncidentDesc">
		</div>
	</div>
	<div id="requiredInformation" class="col-xs-12">
		<div class="col-xs-6">
			<!-- Incident Type -->
			<div id="IncidentType" class="col-sm-12 col-md-4">
				<label>Incident Type:</label><br>
				<select ng-model="incident.IncidentType">
				  <option ng-repeat="(key, value) in IncidentTypes" value="{{key}}">{{value}}</option>
				</select>
			</div>

			<!-- Kit Type -->
			<div id="KitName" class="col-sm-12 col-md-4">
				<label>Kit Name:</label><br>
				<select ng-model="incident.KitName">
				  <option ng-repeat="KitName in KitNames" value="{{KitName}}">{{KitName}}</option>
				</select>
			</div>

			<!-- Severity Type -->
			<div id="SeverityName" class="col-sm-12 col-md-4">
				<label>Severity Name:</label><br>
				<select ng-model="incident.SeverityName">
				  <option ng-repeat="SeverityName in SeverityNames" value="{{SeverityName}}">{{SeverityName}}</option>
				</select>
			</div>
		</div>


		<!-- Location -->
		<div id="Location" class="col-sm-12 col-md-3">
			<label>Location Name:</label><br>
			<input type="text" ng-model="incident.LocationName"><br>
			<label>Latitude: </label><br>
			<input type="text" ng-model="incident.Latitude"><br>
			<label>Longitude:</label><br>
			<input type="text" ng-model="incident.Longitude"><br>
		</div>


		<!-- Person Name and Person -->
		<div id="Person" class="col-sm-12 col-md-3">
			<div class="col-xs-12">
				First Name: <input type="text" ng-model="incident.PersonFirstName"><br>
				Last Name: <input type="text" ng-model="incident.PersonLastName">
			</div>
			<!-- Injury Type -->

			<div class="col-sm-12">
				Injury Name: <input type="text" ng-model="incident.InjuryName"><br>
				Injury Description: <input type="text" ng-model="incident.InjuryDesc">
			</div>
			<div id="InjuryType" class="col-sm-12">
				<label>Injury Type:</label><br>
				<select ng-model="incident.InjuryType">
				  <option ng-repeat="InjuryType in InjuryTypes" value="{{InjuryType}}">{{InjuryType}}</option>
				</select>
			</div>
		</div>
	</div>


	<h2>Optional Information</h2>
	<div id="optionalInformation" class="col-xs-12" >
		<!-- Address -->
		<div id="Address">
			Street Name: <input type="text" ng-model="incident.StreetName">
			City: <input type="text" ng-model="incident.City">
			State: <input type="text" ng-model="incident.State">
			Country: <input type="text" ng-model="incident.Country">
		</div>

	</div>

	<a class="center" ng-click="submitForm()" id="submitButton"><i class="fa fa-paper-plane"></i>Submit Form</a>

</body>
</html>