
html, body, #requiredInformation {
	width: 100vw;
	height: 95vh;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url("background.png");
}


input {
	margin: 10px;
}

h2 {
	text-align: left;
}

.box{
	border-top: 2px solid #111;
	border-bottom: 2px solid #111;
	
	
}

.fill{
	border-top: 2px solid #111;
}

.inputForm {
	margin-bottom: 2em;
}

#title {
	border-bottom: 5px solid #111;
}


#requiredInformation {
	height: 50%;
	border-top: 2px solid #111;
	border-bottom: 2px solid #111;
	padding:0px;

}

#requiredInformation > div {
	height: 100%;
	padding-top: 20px;
	border-right:2px solid black;
}

#requiredInformation > div:last-child {
	border-right:0px solid black;

}



#submitButton {
	padding: 15px 20px;
	background-color: steelblue;
	color: white;
	border-radius: 7px;
	text-decoration: none;
	position: relative;
	top: 50px;
}

#submitButton i {
	margin-right: 8px;
}

#submitButton:hover {
	background-color: #7a316b;
	cursor: pointer;
}

